TELEGRAM_TOKEN=telegram_token

SPOTIFY_CLIENT_ID=spotify_client_id
SPOTIFY_CLIENT_SECRET=spotify_client_secret

LASTFM_API_KEY=lastfm_api_key
LASTFM_API_SECRET=lastfm_api_secret

TELEGRAM_LOG_CHANNEL=log_channel_id